// Override variables with that file

$mono-font: Menlo, Monaco, Consolas, "ＭＳ ゴシック", "Droid Sans Mono", "Courier New", monospace,
  "Droid Sans Fallback";

$dark-color-font: #ffffff;
$dark-color-mute: #ffffff;

$light-color-font: #444444;
$light-color-mute: #444444;
