@import "../../../themes/zzo/assets/sass/base/typography";

.h1 { font-size: 2.8rem; }
.h2 { font-size: 2.4rem; }
.h3 { font-size: 2.1rem; }
.h4 { font-size: 1.8rem; }
.h5 { font-size: 1.6rem; }
.h6 { font-size: 1.4rem; }
