html {
  text-autospace: normal;
}

.wrapper {
  max-width: 1080px;
}

.related__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

.single__title {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.list__header--title {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.single__contents {
  h1 {
    font-size: 2rem;
    margin: 3rem 0 1.5rem 0;
  }

  h2 {
    font-size: 1.6rem;
    margin: 2.6rem 0 1.3rem 0;
  }

  h3 {
    font-size: 1.2rem;
    margin: 2.3rem 0 1.1rem 0;
  }

  h4 {
    font-size: 1rem;
    margin: 2rem 0 0.9rem 0;
  }

  h5 {
    font-size: 1rem;
    margin: 1.6rem 0 0.75rem 0;
  }

  h6 {
    font-size: 1rem;
    margin: 1.3rem 0 0.5rem 0;
  }
}

.summary-classic__content {
  .title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }
}

.single__contents[data-dir="ltr"] blockquote {
  margin: 0;
  padding: 0 0 0 1.42188rem;
}
