html {
  text-autospace: normal;
}

.theme__dark {
  --mono-bg: #06192f;
  background-color: var(--mono-bg);
}

.theme__dark html,
.theme__dark body,
.theme__dark .wrapper,
.theme__dark .navbar,
.theme__dark .header,
.theme__dark .footer,
.theme__dark .sidebar,
.theme__dark .single__contents,
.theme__dark .summary-classic,
.theme__dark .pub__box,
.theme__dark .list__box,
.theme__dark .navbarm__collapse {
  background-color: var(--mono-bg) !important;
  box-shadow: none;
  border-color: rgba(255, 255, 255, 0.08);
}

.theme__dark .navbar__menu-item,
.theme__dark .navbar__dropdown--content,
.theme__dark .navbar,
.theme__dark .site-header,
.theme__dark .footer,
.theme__dark .footer hr {
  border: none !important;
}

.theme__dark .navbar__slide-down {
  background-color: var(--mono-bg) !important;
}

.wrapper {
  max-width: 1080px;
}

.related__title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

.single__title {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.list__header--title {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.single__contents {
  h1 {
    font-size: 2rem;
    margin: 3rem 0 1.5rem 0;
  }

  h2 {
    font-size: 1.6rem;
    margin: 2.6rem 0 1.3rem 0;
  }

  h3 {
    font-size: 1.2rem;
    margin: 2.3rem 0 1.1rem 0;
  }

  h4 {
    font-size: 1rem;
    margin: 2rem 0 0.9rem 0;
  }

  h5 {
    font-size: 1rem;
    margin: 1.6rem 0 0.75rem 0;
  }

  h6 {
    font-size: 1rem;
    margin: 1.3rem 0 0.5rem 0;
  }
}

.summary-classic__content {
  .title {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1rem;
  }
}

.single__contents[data-dir="ltr"] blockquote {
  margin: 0;
  padding: 0 0 0 1.42188rem;
}
