@import "../../../themes/zzo/assets/sass/pages/single";

.single__title {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.list__header--title {
  font-size: 2.2rem;
  line-height: 2.6rem;
}

.single__contents {
  h1 {
    font-size: 2.0rem;
    margin: 3rem 0 1.5rem 0;
  }

  h2 {
    font-size: 1.8rem;
    margin: 2.6rem 0 1.3rem 0;
  }

  h3 {
    font-size: 1.6rem;
    margin: 2.3rem 0 1.1rem 0;
  }

  h4 {
    font-size: 1.4rem;
    margin: 2rem 0 0.9rem 0;
  }

  h5 {
    font-size: 1.2rem;
    margin: 1.6rem 0 0.75rem 0;
  }

  h6 {
    font-size: 1rem;
    margin: 1.3rem 0 0.5rem 0;
  }
}
